<a href="https://colab.research.google.com/github/ebrarkiziloglu/bogaziciai-winter-camp-2023-ML/blob/main/Workshop_1_Ebrar_submission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1>bogaziciAI Winter Camp</h1></center>
<center><h2>Workshop 1</h2></center>

<center><h3>Grading Table</h3></center>

|             | Part 1 | Part 2      | Part 3 | General Otline      | Total |
| ----------- | ----------- | ----------- | ----------- | ----------- | ----------- |
| **Points**      | 30     | 30          | 30     | 10                  | 100   |

In [ ]:
import warnings
warnings.filterwarnings('ignore')

# fundamental modules
import numpy as np
import pandas as pd

# sklearn
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# you can use for visualization
import seaborn as sns
import matplotlib.pyplot as plt

# you can import any additional module you like
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('real_estate.csv')
df.head()

,No,transactiondate,houseage,distancetostation,numberofstores,latitude,longitude,housepriceofunitarea
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

# Task

In this task, you are expected to:

* Make a linear regression analysis.
* Use the normal equation for your linear regression analysis to verify your results.
* Make a polynomial regression analysis (You can decide on the Nth degree).

<br>
You can drop the features that you find unnecessary.
<br>
You can use sklearn module to perform your analysis.
<br> 
It is advised to explore and visualize the dataset first.

# Part 1

In [ ]:
features_1 = ['transactiondate', 'houseage', 'distancetostation', 'numberofstores', 'latitude']
features_2 = ['houseage', 'distancetostation', 'numberofstores', 'latitude', 'longitude']
X = df[features_1]
y = df["housepriceofunitarea"]
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=2)

In [ ]:
linear_model = LinearRegression()
linear_model.fit(train_X, train_y)
linear_model.coef_

array([ 4.29126211e+00, -2.76842199e-01, -4.43700024e-03,  1.22712463e+00,
        1.91475115e+02])

In [ ]:
linear_model.intercept_

-13377.287934210912

In [ ]:
linear_model.score(train_X, train_y)

0.598623147576696

In [ ]:
linear_model.score(X, y)

0.5810604050576089

In [ ]:
linear_model.score(val_X, val_y)

0.5333300304298935

# Part 2

In [ ]:
X_normal = np.hstack((np.ones((train_X.shape[0], 1)), train_X))
# W = ( (X^T.X)^-1 ) X^T.Y
weights = np.linalg.solve(np.dot(np.transpose(X_normal), X_normal), np.dot(np.transpose(X_normal), train_y))
weights

array([-1.33772882e+04,  4.29126223e+00, -2.76842199e-01, -4.43700023e-03,
        1.22712463e+00,  1.91475117e+02])

# Part 3

In [ ]:
N_poly_degree = 8
poly = PolynomialFeatures(N_poly_degree)
poly_X = poly.fit_transform(train_X, train_y)
poly_model = LinearRegression()
poly_model.fit(poly_X, train_y)
# poly_model.coef_

LinearRegression()

In [ ]:
poly_model.intercept_

1182058.0717585485

In [ ]:
poly_model.score(poly_X, train_y)

0.878860466437061